/*-------------header burger button-----------------*/
.navbar {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5%;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  display: block;
  cursor: pointer;
}

.navbar-toggle-icon {
  display: block;
  width: 40%;
  height: 40%;
  margin-bottom: 10%;
  transition: background-color 0.3s ease;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.navbar-menu.active {
  max-height: 200px; /* Adjust the max height as needed */
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin-bottom: 10%;
}

.navbar-nav li a {
  color: #0b9334;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav li a:hover {
  color: #ec9027;
  font-size: 110%;
  text-decoration: none;
}

/*-------slidebutton------*/

.switch {
  position: relative;
  display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 100px;
  top: 10%;
  left: 50%;
  bottom: 0%;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 40%;
  left: 10%;
  bottom: 18%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-labels {
    display: flex;
    justify-content: space-between;
}

#day-label, #night-label {
    font-size: 80%;
    width: 50%;
    text-align: center;
    padding: 13px;
}
