/*------------------layout-----------------*/
.wrapper {
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #161818;
}

.navbox{
grid-column:1;
grid-row:1/3;
}


.buttonbox{
grid-column:3;
grid-row:1;
justify-self: end;
align-self: top;
}

.mainbox {
grid-column:2/3;
grid-row:2/3;
}

.footerbox{
grid-column:2/3;
grid-row:4;

}
.socialbox1 {
grid-column: 1;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.socialbox2 {
grid-column: 3;

display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.bannerbox{
  display: grid;
  align-self: start;
  justify-self: center;
grid-column: 2;
}

/*-------------header burger button-----------------*/
.navbar {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10px;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  display: block;
  cursor: pointer;
}

.navbar-toggle-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.navbar-menu.active {
  max-height: 200px; /* Adjust the max height as needed */
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin-bottom: 10px;
}

.navbar-nav li a {
  color: #0b9334;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav li a:hover {
  color: #ec9027;
  font-size: 20px;
  text-decoration: none;
}

/*-------------header social stuff-----------------*/

.social-nav {
  align-self: start;
}

.social-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.social-list li {
  display: grid;
  margin-right: 20px;
}

.social-list li a {
  color: #d48dd8;
  font-size: 20px;
  text-decoration: none;

}

.social-list li a:hover {
  color: #ec9027;
  font-size: 30px;
  text-decoration: none;

}

.settings-btn button {
  font-size: 30px;
  background-color:#161818;
  color: #89f0eb;
  cursor: pointer;
  padding: 5px;
}

.settings-btn button:hover {
  font-size: 40px;
  color: #ec9027;
  padding: 0;
}


.banner {
color: #0b9334;

}
/*----------main--------------*/

.main {
  justify-content: space-between;
  text-align: center;


}

/*----------body---------*/

.text {
  color: #ffffff;
}

/*----------footer--------*/

.footer {
  text-align: center;
  text-align: bottom;

}
