/*------------------layout-----------------*/
.wrapper {
  background-color: #161818;
}

.banner {
color: #0b9334;
}

.text {
  color: #ffffff;
}

#day-label {
    opacity: 0
}
#night-label{
    opacity: 100
}
